---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

const identity = {
  firstName: "莎拉",
  country: "加拿大",
  occupation: "技术撰稿人",
  hobbies: ["摄影", "观鸟", "棒球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const allPosts = await getCollection("blog");
---

<html lang="zh-CN">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>Archive 归档</h1>
    <p>我的技能：</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <ul>
      <!-- {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
      {
        allPosts.map((post: any) => (
          <li>
            <a href={`/posts/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
      <!-- <li><a href="/posts/post-1/">文章 1</a></li>
      <li><a href="/posts/post-2/">文章 2</a></li>
      <li><a href="/posts/post-3/">文章 3</a></li> -->
      <li>2025-07-31</li>
      <li>2025-07-30</li>
      <li>2025-07-29</li>
    </ul>
  </body>
</html>
